* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
}
body{
    background: rgb(219,238,254);
    background: linear-gradient(180deg, rgba(219,238,254,1) 4%, rgba(97,183,249,1) 50%, rgba(31,71,137,1) 92%);
    font-size: 16px;
}

/* grid para estructura del sitio */
.grid-container{
    display: grid;
    grid-template-areas: "encabezado"
                         "intro"
                         "paquetes"
                         "formulario"
                         "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 1vh;
    align-items: center;
    
}

/* flexbox para menú */
#encabezado{
    grid-area: encabezado;
}

#encabezado{
    display: flex;
    top: 0.1px;
    z-index: 2;
    left: 33%;
    opacity: 85%;
    justify-content: space-between;
    color: black;
}

#encabezado .logo a{
    width: auto;
    height: auto;
}

#encabezado .navbar-nav{
    gap: 10px;
}

#encabezado .navbar-nav .navbarra{
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 1.2em;
}

#encabezado .navbar-nav .navbarra:hover {
    color: rgb(0, 0, 102);
}

#encabezado .navbar-nav .dropdown-item {
    font-weight: 900;
}

/* CONTACTO contacto.html */

#contacto{
    background-image: url(./Imagenes/playa.jpg);
    min-height: 15.625em;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contacto .contactotit{
    text-align: center;
    background-color: rgba(5, 5, 7, 0.253);
    color: rgb(255, 255, 255);
    border-radius: 7px;
}

#iniciopaq .iniciopaq2{
    display: grid;
    grid-template-areas:"card1 card2 card3"
                         "card1-img-top card2-img-top card3-img-top"
                         "card1-body card2-body card3-body";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1vh;
    align-items: start;
    justify-content: space-evenly;
    justify-items: stretch;
    padding: 1vh;
}

.card1{
    grid-area: card1;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.card1-img-top{
    grid-area: card1-img-top;
    height: 13.75rem;
    width: auto;
}

.card1-body{
    grid-area: card1-body;
    text-align: start;
    font-family: 'Montserrat Alternates', sans-serif;
}

.card2{
    grid-area: card2;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.card2-img-top{
    grid-area: card2-img-top;
    height: 13.75rem;
    width: auto;
}

.card2-body{
    grid-area: card2-body;
    text-align: start;
    font-family: 'Montserrat Alternates', sans-serif;
}

.card3{
    grid-area: card3;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.card3-img-top{
    grid-area: card3-img-top;
    height: 13.75rem;
    width: auto;
}

.card3-body{
    grid-area: card3-body;
    text-align: start;
    font-family: 'Montserrat Alternates', sans-serif;
}


/* FOOTER */

#footer{
    grid-area: footer;
    background-color: black;
}

#footer{
    color: white;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

#footer .iconos a{
    width: 1vh;
    padding: 1vh;
    margin: 0 1vh;
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: inline-flex;
}

#footer .texto{
    text-align:justify;
    font-family: 'Montserrat Alternates', sans-serif;
}